html,
.bg-1 {
    background-color:cadetblue;
    color: #ffffff;
}
.bg-2 {
    background-color: #555555; /* Dark Blue */
    color: #ffffff;
  }

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.round-panel {
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.panel.panel-default .panel-heading {
  background-color: cadetblue !important;
  color: white !important;
}

.custom-heading {
  background-color: cadetblue !important; 
  color: white !important;
  font-weight: bold;
  border-bottom: none;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: cadetblue !important;
}